/* 공지사항 페이지 컴포넌트 */
/* notice.html */

/* ##mobile */
.container_notice{
    margin-top: 100px;
}

.notice_board_title{
    border: 1px solid black;
    box-shadow: #636e72 4px 4px;
}

.top_brand{
    margin-top:10px;
}

.notice_board_table{
    margin-top: 30px;
}

/* ##tablet */
@media all and (min-width:768px){
    .notice_board_title{
        border-right: 1px solid black;
        box-shadow: #636e72 4px;
    }
}

/* ##Laptoop */
@media all and (min-width:1023px){
    .container_intro{
        min-height: 1000px;
        height: auto;
    }

    .notice_board_content{
        height: auto;
    }

    .notice_board_title{
        margin-top: 10px;
        border-top: 0px solid black;
        border-left: 0px solid black;
        min-height: 1000px;
    }
}