{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> 대전 세종 충남 출력은, 혜천 문화사 </title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Bootstrap core CSS -->
    <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 
    <!-- fontawesome Icon Files -->
    <script src="https://kit.fontawesome.com/ac69308b95.js" crossorigin="anonymous"></script>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fa_all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
    <!-- Default HC PRINT CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/hc_print_default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/hc_print_mobile_display.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/hc_print_tablet_display.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/hc_print_pc_display.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/hc_print_reset.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/main/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sub/customer_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sub/mypage_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sub/product_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sub/introduce_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sub/notice_board_style.css' %}">
    <!-- Owl Carousel SCSS  -->
    <link rel="stylesheet" href="{% static 'assets/scss/owl.carousel.scss' %}">
    <link rel="stylesheet" href="{% static 'assets/scss/owl.theme.default.scss' %}">
    <link rel="stylesheet" href="{% static 'assets/scss/owl.theme.green.scss' %}">
    <link rel="stylesheet" href="{% static 'assets/css/temp_owl.css' %}">
    <!-- Login CSS -->
    <link rel="stylesheet" href="{% static 'user_assets/css/login_style.css' %}">

    <script>
      function remove(){
        $('.js-preloader').addClass('d-none');
      }
    </script>

  </head>

<body>  

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader" onclick="remove();">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h1 style="text-align: center; font-size: 2rem; font-family: 'Nanum Gothic'; font-weight: bold;"> 로딩중.. </h1>
    </div>
    <h3 class="d-none" style="font-size: 1rem; font-family: 'Nanum Gothic'; font-weight: bold;  color: #0984e3;">클릭하면 바로 보실 수 있습니다</h3>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Pre-header Starts -->
  <!-- 로그인 및 좌측 상단 정보 -->
  <div class="pre-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-10">
          <ul class="info">
            <li><a href="#"><i class="fa fa-envelope"></i>hccopy@naver.com</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>010-5406-7416</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Pre-header End -->

  <!-- ***** Header Area Start ***** -->
  <!-- 혜천 문화사 로고 및 메뉴 헤더 -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'home' %}" class="logo">
              <img src="{% static 'assets/images/logo.png' %}" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              {% comment %} <li class="scroll-to-section"><a href="#top" class="active" onclick=alert('구현중입니다!!')>마이페이지</a></li> {% endcomment %}
              <li class="scroll-to-section"><a href="{% url 'introduce' %}">회사소개</a></li>
              <li class="scroll-to-section"><a href="{% url 'product' %}">제품소개</a></li>
              {% comment %} <li class="scroll-to-section"><a href="{% url 'notice' %}">공지사항</a></li> {% endcomment %}
              <li class="scroll-to-section"><a href="javascript:;" onclick="alert('개발중입니다!!')">공지사항</a></li>
              {% comment %} <li class="scroll-to-section"><a href="{% url 'customer' %}">고객센터</a></li> {% endcomment %}
              <li class="scroll-to-section"><a href="javascript:;" onclick="alert('개발중입니다!!')">고객센터</a></li>
              <!-- <li class="scroll-to-section"><a href="#contact">Contact</a></li>  -->
              <li class="scroll-to-section"><div class="border-first-button"><a href="#" onclick="make_query()">직접 문의</a></div></li> 
              {% comment %} <li class="scroll-to-section"><a href="#" onclick="make_query()" style="color:red;">직접 문의</a></li> {% endcomment %}
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- 모달 -->
  <div class="modal" id="query">

    <div class="container">
      <div class="modal_head">
        <button class="btn-default" onclick="exit_query()" style="background-color: rgba(255, 255, 255); border-radius: 50px; border: solid 3px red;"> 
          <i class="fas fa-times" style="font-size: 1.5rem; color: red;"></i> 
        </button>
      </div>

      <div class="row modal_content">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="{% url 'to_email' %}" method="post">
            {% csrf_token %}
            {% if request.GET.next %}
              <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-dec">
                  <img src="{% static 'assets/images/contact-dec.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-12">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102835.17833232276!2d127.3124589916382!3d36.346259537207615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35654b97bc1acaa5%3A0xd4b4e6c9a839ccdf!2z7Zic7LKc66y47ZmU7IKs!5e0!3m2!1sen!2skr!4v1635679650595!5m2!1sen!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="fill-form">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="{% static 'assets/images/phone-icon.png' %}" alt="">
                          <a href="#">010-5406-7416</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="{% static 'assets/images/email-icon.png' %}" alt="">
                          <a href="#">hccopy@naver.com</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="{% static 'assets/images/location-icon.png' %}" alt="">
                          <a href="#">대전광역시 유성구 궁동 대학로 171</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="name" name="name" id="name" placeholder="이름" autocomplete="on" required>
                      </fieldset>
                      <fieldset>
                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="이메일" required="">
                      </fieldset>
                      <fieldset>
                        <input type="subject" name="subject" id="subject" placeholder="제목" autocomplete="on">
                      </fieldset>
                      <fieldset>
                        <input type="text" name="tel" id="tel" placeholder="전화번호" autocomplete="on">
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <textarea name="message" type="text" class="form-control" id="message" placeholder="내용" required=""></textarea>  
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button ">전송하기</button>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- 콘텐츠 부분 -->
  {% block content %}

  {% endblock %}
  <!-- 푸터 혜천 문화사 Footer 내용 -->
  <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2021 혜천문화사 All Rights Reserved.
        <br>Revised By: <a href="https://khyst.github.io"> khy </a>
        &nbsp &nbsp &nbsp Distributed By: <a href="https://themewagon.com" target="_blank" title="free css templates">ThemeWagon</a> 
      </p>
      </div>
    </div>
  </div> 
  </footer>

  <!-- Scripts js -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/animation.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/default.js' %}"></script>
  <script src="{% static 'assets/js/modal.js' %}"></script>
  <script src="{% static 'assets/js/temp_owl.js' %}"></script>
  <script src="{% static 'assets/js/owl_custom.js' %}"></script>
  <script src="{% static 'assets/js/login_main.js' %}"></script>
</body>
</html>
